# Node
node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# Env & secrets
.env
.env.*

# SQLite data
*.db
*.sqlite
/data/*.db

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build artifacts
.netlify/
vercel/
dist/

# never commit archives
*.zip
